<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="margin-top: -1px;">
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Panela de pressão 3L Tramontina</ion-card-subtitle>
      <ion-card-title>R$ 300,00</ion-card-title>
    </ion-card-header>
    <ion-item lines="none">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label style="margin-left: 10px;">Só Salvados</ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Panela de pressão 3L Tramontina</ion-card-subtitle>
      <ion-card-title>R$ 300,00</ion-card-title>
    </ion-card-header>
    <ion-item lines="none">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label style="margin-left: 10px;">Só Salvados</ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Panela de pressão 3L Tramontina</ion-card-subtitle>
      <ion-card-title>R$ 300,00</ion-card-title>
    </ion-card-header>
    <ion-item lines="none">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label style="margin-left: 10px;">Só Salvados</ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>

</ion-content>
